@import "tailwindcss";

@theme{
  --color-coal: #121212;
  --color-darkGrey: #1E1E1E;
  --color-softElectricBlue: #267FE8;
  --color-shadowBG: rgba(0,0,0,0.6)
}

html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}