@import "tailwindcss";

@theme{
  --color-coal: #121212;
  --color-darkGrey: #1E1E1E;
  --color-charcoal: #333333;
  --color-lightGray:#BBBBBB; 
  --color-softElectricBlue: #267FE8;
  --color-redError: #FF4D4D;
  --color-shadowBG: rgba(0,0,0,0.6);
  --color-herroBG: rgba(0,0,0,0.6)
}

html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}